@use "/src/common/styles/components" as c;


.card {
  @include c.image_with_text_overlay(".card__coverImage", #FFFFFF, #a7ebf3, 1rem);
  gap: 0.5rem;
  cursor: pointer;
  transition: 0.1s ease-in;

  &__title {
    margin-bottom: 0;
    color: black;
    cursor: pointer;
  }

  &__date {
    color: #777;
    font-size: 0.8rem;
    font-style: italic;
  }
}